
.svg-icons-quotes{
  width: 103px;
  height: 92px;
  position: absolute;
  top: -50px;
  fill: #D5E9F7;
}
.about{
  display: flex;
  margin-top: 100px;
  flex-direction: row;
  &-img{
    max-width: 440px;
    max-height: 550px;
    & img{
      width: 100%;
      height: 100%;
    }
  }
  &-us{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 40px;
        color: #07273E;
    &-title{
      font-weight: 700;
        font-size: 50px;
        line-height: 61px;
    }
    &-desc{
      font-weight: 400;
        font-size: 16px;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
  &-comment{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: 200px;
    &-btn{
      font-size: 20px;
      line-height: 24px; 
      font-weight: 600;
      text-decoration-line: underline;
      color: #07273E;
    }
    &-content{
      &-info {
        padding: 30px;
        background: #D5E9F7;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        font-weight: 400;
          font-size: 16px;
          line-height: 150%;
          gap: 10px;
          color: #07273E;
        &-title{
          font-weight: 600;
            font-size: 16px;
        }
      }
    }
    
    
  }
}
@media screen and (max-width: 768px) {
  .about{
    flex-direction: column;
    
  }
}
