.svg-icons-star {
  width: 14px;
  height: 14px;
}

.comment-rate {
  margin-top: 100px;
  display: flex;
  flex-direction: row;

  &-title {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    color: #07273E;

    p {
      font-weight: 700;
      font-size: 50px;
      line-height: 61px;
    }

    a {
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      text-decoration-line: underline;
    }
  }
}

.comment-block {
  transition: .6s all;
  background: #D5E9F7;
  display: flex;
  width: 520px;
  flex-direction: column;
  gap: 20px;
  padding: 30px;


  &-content {
    display: flex;
    flex-direction: row;
    gap: 20px;

    &-title {
      width: 100px;

      img {
        width: 75px;
      }

      & p {
        font-weight: 600;
        font-size: 14px;
        line-height: 100%;
        display: flex;
        align-items: center;
        text-align: center;
      }

    }

    &-paragraph {
      font-size: 16px;
      line-height: 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: flex-end;

      p {
        font-weight: 400;
      }

      a {
        font-weight: 600;
      }
    }

  }

  &-info {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 25px;
  }

  &-date {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #07273E;
    opacity: 0.5;
  }

  &-btn {
    margin-left: auto;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    text-align: right;
    text-decoration-line: underline;
    color: #07273E;
  }
}

@media screen and (max-width: 768px) {

  .comment-block{
    transform: scale(.8);
    width: 400px;
    margin: 0;
  }
  .comment-rate{
    
    &-bg{
      position: relative;
    display: none;
    }
    right: 200px;
    top: -10px;
    position: absolute;
    &-title{
      flex-direction: column;
    }
  }
}


.comment-rate-bg,
.comment-rate-block {
  margin-top: 100px;
  position: relative;
  height: 500px;
}

.swiper-pagination-progressbar-fill{
  position: absolute;
  background: linear-gradient(270.7deg, #FF831E 0.09%, rgba(255, 131, 30, 0) 113.27%) !important;
  width: 600px;
}

.swiper-horizontal>.swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal{
  width: 400px !important;
  left: 15%;
  top: 250px;
}
.swiper {
  width: 520px;
}

.swiper-cube-shadow::before{
display: none;
}
.swiper-button-prev{
  top: 320px;
  left: 200px;
}
.swiper-button-next{
  top: 320px;
  right: 200px;
}



